  /* inter-regular - latin_latin-ext */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin_latin-ext-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin_latin-ext */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin_latin-ext-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-800 - latin_latin-ext */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin_latin-ext-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /********Typographie********/

  body {
    font-family: Inter, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    /*line-height: 1.625; ratio propotionnel à la taille de la police*/
    line-height: calc(26/16);
    /*Dans la maquette, un interligne de 26px pour une taille de police de 16px)*/
    color: #5E607A;
    background-color: #FFFDFA;
  }
  a {
    text-decoration: none;
  }

  h1 {
    color: #00001A;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;   /* 100% */
    margin : 1.5rem 0rem 1rem 0rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #E9AA52;
  }

  /********Container********/

  .container{
    /*width: min(100%,71.375rem); (prend la plus petite des deux valeurs, revient à donner une valeur max. 71.375rem; /*69.375 contenu + 1rem de padding gauche + 1rem padding droite*/
    width: 100%;
    margin-inline : auto;
    padding-inline: 1rem;
    background-color: aquamarine;
  }

  /*resposive container, mettre valeur en em, donc base 16*/
  @media  screen and (min-width:36em) {
    .container{
      max-width: 33.75rem;
    }
  }
  @media  screen and (min-width:48em) {
    .container{
      max-width: 45rem;
    }
  }
  @media  screen and (min-width:62em) {
    .container{
      max-width: 60rem;
    }
  }
  @media  screen and (min-width:75em) {
    .container{
      max-width: 71.375rem;
    }
  }

  /********HEADER********/

  .main-header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*jcsb en emmet*/
    align-items: center;
  }

  .menu{
    display: none;
  }

  @media  screen and (min-width:48em) {
    .toggle-menu{
      display: none;
    }
    .menu{
      display: flex;
    }
  }

  /********HERO********/

 .hero p {
    margin-bottom: 1.5rem;
  } 

  .hero-link {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.27344rem;
    background-color: #F15D51;
    padding: 0.81rem 1.94rem;
    height: 3rem;
  }

  .hero-link:hover {
    background-color: #00001A;
  }

  /********TOP 3********/
@media  screen and (min-width:75em) {
    .top-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 2.6rem;
  }
}

.top-item{
  display: flex;
  flex-direction: row;
  border : 1px solid red;
}

.top-item-image{
  min-width: 100px;
}

/********A CLASSER********/



  .news-list{
    border-bottom: 1px solid #5E607A;
    border : 1px solid red;
    padding: 1.81rem;
    margin: 0.8rem;
    /*padding-bottom: 1.81rem;*/
  }

  .menu-link {
    color: #00001A;
    /*dark space blue*/
    font-size: 1.125rem;
  }

  .news-link {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;
    /* 120% */
    color: #FFFDFA;
    margin-bottom: 0.5rem;
  }

  .news p {
    color: #C5C6CE;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    /* 173.333% */
  }

  .top-count {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    /* 100% */
    color: #C5C6CE;
  }

  .top-link {

    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    /* 133.333% */
    color: #00001A;
  }

  .news {
    background-color: #00001A;
  }