  /* inter-regular - latin_latin-ext */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin_latin-ext-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin_latin-ext */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin_latin-ext-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-800 - latin_latin-ext */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin_latin-ext-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /********COLOR SCHEME**********/

  :root {
    --dark-space-blue: #00001A;
    --gun-metal: #5E607A;
    --almost-white: #FFFDFA;
    --light-vermillion:#F15D51;
    --silver : #C5C6CE;
    --yellow:#E9AA52;
   

  --title:var(--dark-space-blue);
  --txt: var(--gun-metal);
  --bg: var(--almost-white);
  --accent: var(--light-vermillion);
  
  --bg2:var(--dark-space-blue);
  --title2:var(--yellow);
  --title-secondary:var(--almost-white);
  --txt2:var(--silver);
  --accent2:var(--yellow);
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --txt: var(--white);
        --bg: var(--dark);
        --txt-secondary: var(--white);
        --accent: var(--purple);
    }
} */

  /********Typographie********/

  body {
    font-family: Inter, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    /*line-height: 1.625; ratio propotionnel à la taille de la police*/
    line-height: calc(26/16);
    /*Dans la maquette, un interligne de 26px pour une taille de police de 16px)*/
    color: var(--gun_metal);
    background-color: var(--bg);
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: var(--title);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    /* 100% */
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--title2)
  }

  :focus-visible{
    outline: 0.1rem solid  var(--title2) ;
    outline-offset: 0.1rem;
  }

  /********Container********/

  .wrapper {
    /*width: min(100%,71.375rem); (prend la plus petite des deux valeurs, revient à donner une valeur max. 71.375rem; /*69.375 contenu + 1rem de padding gauche + 1rem padding droite*/
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  /*resposive container, mettre valeur en em, donc base 16*/
  @media screen and (min-width:36em) {
    .wrapper {
      max-width: 33.75rem;
    }
  }

  @media screen and (min-width:48em) {
    .wrapper {
      max-width: 45rem;
    }
  }

  @media screen and (min-width:62em) {
    .wrapper {
      max-width: 60rem;
    }
  }

  @media screen and (min-width:75em) {
    .wrapper {
      max-width: 71.375rem;
    }
  }

  /********LAYOUT GENERAL ********/
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @media screen and (min-width:75em) {
    .wrapper {
      grid-template-columns: 2fr 1fr;
    }

    header,
    .top {
      grid-column: span 2;
    }

  }

  /********HEADER********/

  .main-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*jcsb en emmet*/
    align-items: center;
  }

  .main-header {
    position: sticky;
    top: 0;
    z-index: 10002;
    padding-block: 2rem;
    background-color:var(--bg);
  }

  .toggle-menu{
    display: grid;
    gap: 0.25rem;
    background-color: var(--bg);
    border: none;
}

  .barres {
    width: 2.5rem;
    height: 0.2rem;
    background-color: var(--bg2);
  }

  .toggle-menu[aria-expanded="true"]{
    padding: 0.5rem;
  }

  .toggle-menu[aria-expanded="true"] .barres:first-child{
    transform: translateY(0.45rem) rotate(45deg);
  }

  .toggle-menu[aria-expanded="true"] .barres:nth-child(2){
    opacity:0;
  }

  .toggle-menu[aria-expanded="true"] .barres:last-child{
    transform: translateY(-0.45rem) rotate(-45deg);
  }

  

/***********Menu mobile**************/

  @media screen and (max-width:48em) {

  .menu {
      position: fixed;
      top: 0;  
      left: 0; 
      width: 100dvw;
      padding-left: 39%;
      z-index: -1; 
      background-image: linear-gradient(to right,rgba(0, 0, 26, 0.5) 39%, var(--bg) 39%);
      height: 100dvh;
      padding-top: 9rem; 

      transform: translateX(100vw);
      transition: 0.8s;
      transform-origin: left;
      visibility: hidden;
      }
   
    .menu:not([hidden]){
      transform: translateX(0);
      visibility:visible;
      transition: 1s;
    }  
    
    .menu-link {
      color: var(--title);
      font-size: 1.125rem;
      transition: 0.3s ease-in-out;
    }

    .menu-link:hover{
      color: var(--accent)
    }



    .menu-item{
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;
      padding-left: 1.5rem;
    }

  }

  /***********Menu desktop**************/

  @media screen and (min-width:48em) {
    .toggle-menu {
      display: none;
    }

    .menu {
      display: flex;
    }

    .menu-link {
      display: block;
      padding: 1rem;
      margin: 0.25rem;
      color: var(--txt);
      transition: 0.3s ease-in-out;
    }

    .menu-link:hover{
      color:var(--accent);
    } 

    
  }

  /********HERO********/

  .hero-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5rem;
  }
  @media screen and (min-width:75em) {
    .hero-container {
      grid-template-columns: 1fr 1fr;
      gap:1.88rem;
    }

    .hero-title{
      font-size: 3.5rem;
      line-height: 1;
    }

    .hero-image {
      grid-column: span 2;
    }
  }

  .hero p {
    margin-bottom: 1.5rem;
  }

  .hero-link {
    color: var(--bg);
    text-transform: uppercase;
    letter-spacing: 0.27344rem;
    background-color: var(--accent);
    padding: 0.81rem 1.94rem;
    height: 3rem;
    transition:0.5s ease-in-out;
    display: inline-block;
  }

  .hero-link:hover,
  .hero-link:focus {
    background-color: var(--bg2);
  }

  .hero-image img{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  /********NEWS********/

  .news-container {
    display: grid;
    gap: 1.81rem;
    padding: 1.5rem 1.25rem 1.5rem 1.31rem;
  }

  .news-item {
    display: grid;
    gap: 1.81rem;
  }

  .news-list {
    border-bottom: 1px solid #5E607A;
  }

  .news-list p {
    padding-bottom: 1.81rem;
  }

  .news-link {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;
    /* 120% */
    color: var(--title-secondary);
    margin-bottom: 0.5rem;
  }

  .news-link:hover,
  .news-link:focus {
    color: var(--accent2);
  }

  .news p {
    color: var(--txt2);
    padding-top: 0.3rem;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    /* 173.333% */
  }

  .news-container {
    background-color: var(--bg2);
  }

  /********TOP 3********/

  .top-list {
    display: grid;
    gap: 1.81rem
  }

  @media screen and (min-width:75em) {
    .top-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.6rem;
    }
  }

  .top-item {
    display: flex;
    flex-direction: row;
    gap:1.5rem;
  }

  .top-item-image {
    min-width: 100px;
  }

  .top-count {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    /* 100% */
    color: var(--txt2);
  }

  .top-link {

    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    /* 133.333% */
    color: var(--title);
  }

  .top-link:hover,
  .top-link:focus{
    color: var(--accent);
  }